body {
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  max-width: 600px; 
  text-align: center;
}


#app p,
#app ul,
#app ol {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

/* Lists */
#app ul,
#app ol {
  margin: 16px auto;
  padding-left: 24px;
}

#app li {
  margin-bottom: 8px;
}


button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
